.search_results {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	transform: translateX(-50%);

	.add_input {
		width: 100%;
		text-align: center;
		font-family: 'Helvetica';
		font-size: 24px;
		border: none;
		z-index: 2;
		border-radius: 5px;
		padding: 10px;
		-webkit-box-shadow: 0px 7px 19px -4px rgba(179,179,179,1);
		-moz-box-shadow: 0px 7px 19px -4px rgba(179,179,179,1);
		box-shadow: 0px 7px 19px -4px rgba(179,179,179,1);
	}
}

.search_business {
	width: 100%;

	.input {
		width: 100%;

	}
}

.results_container {
	height: 100px;
	overflow: scroll;
}

.location_results {
	width: 100%;
	display: block;
	text-align: center;
	background: white;
	font-family: 'Helvetica Neue';
	padding: 10px 0;
	border-bottom: 1px solid #D3D3D3;
}