.player-wrapper {
	position: absolute;
    top: 50%;
    left: 50px;
    width: 32%;
    transform: translateY(-50%);
    padding-top: 18.25%;

    .VideoPlayer {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	max-width: 500px;
    	max-height:287px;
    }
}

