.Geocode {
	width: 100%;
	position: relative;
	margin: 20px 0;

	.input {
		width: 100%;
		text-align: center;
		font-family: 'Helvetica';
		font-size: 24px;
		border: none;
		z-index: 2;
		border-radius: 5px;
		padding: 10px;
		-webkit-box-shadow: 0px 7px 19px -4px rgba(179,179,179,1);
		-moz-box-shadow: 0px 7px 19px -4px rgba(179,179,179,1);
		box-shadow: 0px 7px 19px -4px rgba(179,179,179,1);
	}
	.yielded_cities {
		display: none;

		&.active {
			display: block;
		}
	}
}

.search_business {
	width: 100%;

	.input {
		width: 100%;

	}
}

.results_container {
	position: absolute;
	width: 100%;
	height: 100px;
	overflow: scroll;
	z-index: 2;
}

.location_results {
	width: 100%;
	display: block;
	text-align: center;
	color: black;
	pointer: cursor;
	text-decoration: none;
	background: white;
	font-family: 'Helvetica Neue';
	padding: 10px 0;
	border-bottom: 1px solid #D3D3D3;
}