.MapComponent {
	height: 100vh;
	width: 100vw;
	position: fixed !important;
	top: 0;
	right: 0;



// Geocoder
	.search_results {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
	
		.init_location {
			width: 100%;
			text-align: center;
			font-family: 'Helvetica';
			font-size: 24px;
			border: none;
			transform: translateX(-50%);
			z-index: 2;
			border-radius: 5px;
			padding: 10px;
			-webkit-box-shadow: 0px 7px 19px -4px rgba(179,179,179,1);
			-moz-box-shadow: 0px 7px 19px -4px rgba(179,179,179,1);
			box-shadow: 0px 7px 19px -4px rgba(179,179,179,1);
		}
	}
	
}

