.LocationBuilder {
	position: absolute;
	left: 3%;
    top: 45%;
    transform: translateY(-50%);
	max-height: 79%;
	width: 30%;
	background: rgba(245,245,245, 0.8);
	min-width: 300px;
	max-width: 380px;
	border-radius: 5px;
	cursor: auto;
	padding: 0 2%;


	.entered-name {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}