.player-wrapper {
	position: absolute;
    top: 50%;
    left: 50px;
    width: 35%;
    transform: translateY(-50%);
    padding-top: 18.25%;
}

.sidebar-row {
	width: 100%;
	display: flex;
	height: 400px;
	overflow-y: scroll;
}